/* imports */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Playpen+Sans&display=swap');

/* html basic */
html {
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans';
}

body {
    background: #081b29;
    color: #ededed;
}

h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 500;
}

a {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/* projects */
.projects {
    background: #081b29;
}

.projects__container {
    row-gap: 2rem;
    justify-content: center;
    padding-block: 1rem;
}

.projects__card {
    position: relative;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;

}

.projects__img {
    width: 100%;
    height: 100%;
}

.projects__modal {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000 0%, #1f21adcc 120%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;
    overflow: hidden;
}

.projects__button {
    color: #ededed;
    font-size: .813rem;
}


.projects__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .75rem;
}

.projects__card:hover .projects__modal{
    bottom: 0;
}

article {
    box-shadow: 0 8px 16px #00abf0;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: .8s;
    z-index: 1;
}

/*------------------- BREAKPOINTS -------------------*/
/* media query */
@media screen and (min-width: 1152px) {
    :root {
      --normal-font-size: 1rem;
    }
}

/* For small devices */
@media screen and (max-width: 320px) {
    .container{
        margin-inline: 1rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .projects__container {
        grid-template-columns: 360px;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .projects__container {
        grid-template-columns: repeat(2, 352px);
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem 2rem;
    }
    .section__subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }

    .projects__container{
        grid-template-columns: repeat(3, 350px);
        row-gap: 3rem;
        padding-block: 2.5rem 4rem;
    }
    .projects__button{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1021px){
    h1 {
        margin-top: 100px;
    }
}


@media screen and (max-width: 950px){
    section::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 286%;
        background: #081b29;
        animation: showRight 4s ease forwards;
        animation-delay: 1.6;
        z-index: 2;
    }
}
/* ---------------------->  Navbar  <---------------------- */
/* header or navbar  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    transition: .4s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: 2s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #00abf0);
    border-radius: 6px;
}

/* keyframes animations */
@keyframes showRight {
    100% {
        width: 0;
    }
}


/* dropdown menu */
.dropdown_menu a{
    text-decoration: none;
    color: #ededed;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    transition: .4s;
}

.dropdown_menu a:hover,
.dropdown_menu a.active {
    color: #00abf0;

}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 208px;
}

/* Responsive navbar */
.navbar .toggle_btn {
    color: #ededed;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: 2s;
}

@media(max-width: 992px) {
    .navbar a {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/* footer */
footer {
    width: 100%;
    height: 100%;
    background: #000;
    bottom: 0;
}

.f-content {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-content p {
    color: #ededed;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: lighter;
}